@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cabinet Grotesque';
    src: url('../fonts/CabinetGrotesk-Variable.ttf') format('truetype');
  }

* {
    font-family: "Cabinet Grotesque";
}